{% extends 'base.html.twig' %}

{% block title %}Symfony Crud{% endblock %}

{% block body %}
	<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand">Symfony Crud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="container" style="margin-top: 6rem;">
	    <div class="row">
	    	<div class="col-md-8">
	    		<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">{{ post }}</h5>
				    <p class="card-text">{{ description }}</p>
				    <a href="#" class="btn btn-success">Edit</a>
				    <a href="#" class="btn btn-primary">Delete</a>
				  </div>
				</div>
	    	</div>

	    	<div class="col-md-4">
	    		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createPost">
				  Create Post
				</button>

				<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Post title</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
	    	</div>
	    </div>
    </div>
{% endblock %}